name: Pipeline de Testes de Contrato

on: [push] # Isso faz o teste rodar toda vez que você enviar código

jobs:
  executar-testes:
    runs-on: ubuntu-latest

    # Sobe o RabbitMQ automaticamente no servidor do GitHub
    services:
      rabbitmq:
        image: rabbitmq:3.13-management
        ports:
          - 5672:5672
        options: >-
          --health-cmd "rabbitmq-diagnostics check_running"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Baixar codigo do repositorio
        uses: actions/checkout@v4

      - name: Instalar o Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Instalar bibliotecas necessarias
        run: |
          pip install pika jsonschema pytest

      - name: Simular envio de mensagem (Produtor)
        run: python produtor.py

      - name: Rodar Testes de Contrato
        run: pytest test_rabbitmq_contrato.py